@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Base Styling */
*,
*::after,
*::before {
  /* outline: 1px solid red; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* Error Message Section */
.banner {
  background-image: url('../../img/404-error.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 75vh;

}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.error__message--heading {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #FAFAFA;
}

.figure__style {
  color: #FF4301;
}

.error__message--sub {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 0 35px;
  margin-bottom: 30px;
}

.btn {
  height: 40px;
  width: 135.56px;
  padding: 11px 15px;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

.btn-home {
  background: #FF4301;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF
}



/* Media Queries */


@media (min-width: 768px) {

  .banner {
    background-image: url('../../img/404-error.jpeg');
    height: 75vh;
  }


  .error__message--heading {
    font-size: 54px;

  }

  .error__message--sub {
    font-size: 18px;
    padding: 0 35px;
  }

  .btn {
    width: 140px;
    height: 53px;
  }

  .btn-home {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (min-width: 992px) {

  .banner {
    background-image: url('../../img/404-error.jpeg');
    height: 90vh;
  }

  .error__message--heading {
    font-size: 72px;

  }

  .error__message--sub {
    font-size: 18px;
    padding: 0 45px;
    margin-bottom: 42px;
  }

  .btn {
    width: 183px;
    height: 54px;
  }

  .btn-home {
    font-size: 18px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 20px;
    padding: 20px;
  }

}

@media (min-width: 2560px) {
  .error__message--heading {
    font-size: 89px;

  }
}