/* START OF OVERALL STYLES */


html,
body,
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat' !important;
}

/* END OF OVERALL STYLES */

/* START OF HERO SECTION STYLES */
.hero {
  background-image: url(../../img/contact_img.png);
  height: 558px;
}

.caption {
  padding-top: 15%;
}

.contact__title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  color: #FF4301;
}

.contact__paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
}

/* END OF HERO SECTION STYLES */

/* START OF WE ARE ALWAYS AVAILABLE SECTION STYLES */

.profile__section {
  padding-left: 3.5% !important;
  padding-right: 3.5% !important;
}

.always__available {
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 59px;
}

.lorem__ipsum {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}

.profile img {
  width: 134.8px;
  height: 132.46px;
  border-radius: 100%;
}

.administrator {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}

/* END OF WE ARE ALWAYS AVAILABLE SECTION STYLES */

/* START OF FEEDBACK SECTION STYLES */

.feedback {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.085em;
  color: #FF4301;
}

::placeholder {
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: 0.015em;
  color: #6F6F6F;
}


.feedback__email,
.feedback__text {
  width: 100%;
  height: 82px;
  background: #FFFFFF;
  border: 2px solid #6F6F6F;
  box-sizing: border-box;
  border-radius: 0%;
}

textarea {
  width: 100% !important;
  height: 296px !important;
  border-radius: 0% !important;
}

.feedback__button {
  width: 521px;
  height: 79px;
  background: #FF4301;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  border-radius: 0%;
}

.btn:hover {
  background: #ec541d;
}

.col img {
  width: 100%;
  height: 345px;
}

.card {
  z-index: 10;
}

.card-body {
  overflow: hidden;
}


.desktop__card {
  width: 838px;
  height: 345px;
  border-radius: 0%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  top: 310%;
  left: 22%;
  position: absolute;
}

.mobile__card {
  width: 299px;
  height: 351px !important;
  border-radius: 0%;
  display: flex;
  flex-direction: column;
}

.mobile__card img {
  height: 167px;
}

.card__details {
  padding-left: 0% !important;
  padding-right: 0% !important;
  overflow: hidden;
}

.location,
.contact,
.email__address {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-left: 5%;
}

.location2,
.contact2,
.email__address2 {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-left: 5%;
}

/* END OF FEEDBACK SECTION STYLES */

/* START OF MAPS SECTION STYLES */

.google__maps {
  position: relative;
  height: 609px !important;
  overflow-x: hidden;
  width: 100% !important;
}

.google__maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 609px !important;
}

/* END OF MAPS SECTION STYLES */

/* START OF MEDIA QUERIES */


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


  /* START OF HERO SECTION STYLES */

  .hero {
    height: 280px !important;
  }

  .caption {
    padding-top: 13%;
  }

  .contact__title {
    font-size: 40px;
    line-height: 29px;
  }

  .contact__paragraph {
    font-size: 15px;
    line-height: 15px;
  }

  /* END OF HERO SECTION STYLES */

  /* START OF WE ARE ALWAYS AVAILABLE SECTION STYLES */

  .profile__section {
    margin-top: .1rem !important;
  }

  .always__available {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-top: 22%;
  }

  .lorem__ipsum {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
  }

  .profile__section {
    margin-bottom: 0 !important;
  }

  .picture__row {
    margin-top: 3rem;
    padding: 1rem !important;
  }

  .profile {
    width: 100% !important;
    text-align: center;
  }

  .prof__admin {
    width: 100% !important;
    text-align: center;
  }

  .profile img {
    width: 107.21px;
    height: 101.9px;
    ;
  }

  .administrator {
    font-size: 14px;
    line-height: 17px;
  }


  /* END OF WE ARE ALWAYS AVAILABLE SECTION STYLES */

  /* START OF FEEDBACK SECTION STYLES */

  .feedback__container {
    margin-top: .1rem !important;
    padding-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;

  }

  .feedback {
    font-weight: bold;
    font-size: 26px;
    line-height: 22px;
    letter-spacing: 0.085em;
  }

  ::placeholder {

    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.015em;
  }


  .feedback__email,
  .feedback__text {

    width: 100% !important;
    height: 43px;
    border: 1px solid #6F6F6F;
    box-sizing: border-box;
    border-radius: 0%;
  }

  .inputs__class {
    padding-bottom: 0% !important;
  }

  .textarea__class {
    padding-bottom: 0% !important;
  }

  textarea {
    width: 100% !important;
    height: 136px !important;
    border-radius: 0% !important;
  }

  .feedback__button {
    width: 100%;
    height: 51px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.015em;
    border-radius: 0%;
  }

  /* END OF FEEDBACK SECTION STYLES */

  /* START OF MAPS SECTION STYLES */

  .google__maps {
    position: relative;
    height: 270px !important;
    overflow-x: hidden;
    padding: 0% !important;
    width: 100% !important;
  }

  .google__maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 270px !important;
    padding: 0% !important;
  }

  /* END OF MAPS SECTION STYLES */

}


@media (min-width: 481px) and (max-width: 767px) {

  /* START OF HERO SECTION STYLES */

  .hero {
    height: 200px;
  }

  .caption {
    padding-top: 13%;
  }

  .contact__title {
    font-size: 40px;
    line-height: 29px;
  }

  .contact__paragraph {
    font-size: 15px;
    line-height: 15px;
  }

  /* END OF HERO SECTION STYLES */

  /* START OF WE ARE ALWAYS AVAILABLE SECTION STYLES */

  .profile__section {
    margin-top: .1rem !important;
  }

  .always__available {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }

  .lorem__ipsum {
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .profile__section {
    margin-bottom: 0 !important;
  }

  .picture__row {
    margin-top: 3rem;
    padding: 1rem !important;
  }

  .profile {
    width: 50% !important;
  }

  .prof__admin {
    width: 50% !important;
  }

  .profile img {
    width: 107.21px;
    height: 101.9px;
  }

  .administrator {
    font-size: 14px;
    line-height: 17px;
  }

  /* END OF WE ARE ALWAYS AVAILABLE SECTION STYLES */

  /* START OF FEEDBACK SECTION STYLES */

  .feedback__container {
    margin-top: .1rem !important;
    padding-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;

  }

  .feedback {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.085em;
  }

  ::placeholder {

    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.015em;
  }


  .feedback__email,
  .feedback__text {

    width: 100% !important;
    height: 43px;
    border: 1px solid #6F6F6F;
    box-sizing: border-box;
    border-radius: 0%;
  }

  .inputs__class {
    padding-bottom: 0% !important;
  }

  .textarea__class {
    padding-bottom: 0% !important;
  }

  textarea {
    width: 100% !important;
    height: 136px !important;
    border-radius: 0% !important;
  }

  .feedback__button {
    width: 100%;
    height: 51px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.015em;
    border-radius: 0%;
  }

  /* END OF FEEDBACK SECTION STYLES */

  /* START OF MAPS SECTION STYLES */

  .google__maps {
    position: relative;
    height: 208px !important;
    overflow-x: hidden;
    padding: 0% !important;
    width: 100% !important;
  }

  .google__maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 208px !important;
    padding: 0% !important;
  }

  /* END OF MAPS SECTION STYLES */

}


@media only screen and (max-width: 480px) {

  /* START OF HERO SECTION STYLES */

  .hero {
    height: 122px;
  }

  .caption {
    padding-top: 10%;
  }

  .contact__title {
    font-size: 24px;
    line-height: 29px;
  }

  .contact__paragraph {
    font-size: 12px;
    line-height: 15px;
  }

  /* END OF HERO SECTION STYLES */

  /* START OF WE ARE ALWAYS AVAILABLE SECTION STYLES */

  .profile__section {
    margin-top: .1rem !important;
  }

  .always__available {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }

  .lorem__ipsum {
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .profile__section {
    margin-bottom: 0 !important;
  }

  .picture__row {
    margin-top: 3rem;
    padding: 1rem !important;
  }

  .profile {
    width: 50% !important;
  }

  .prof__admin {
    width: 50% !important;
  }

  .profile img {
    width: 107.21px;
    height: 101.9px;
    ;
  }

  .administrator {
    font-size: 14px;
    line-height: 17px;
  }

  /* END OF WE ARE ALWAYS AVAILABLE SECTION STYLES */

  /* START OF FEEDBACK SECTION STYLES */

  .feedback__container {
    margin-top: .1rem !important;
    padding-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;

  }

  .feedback {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.085em;
  }

  ::placeholder {

    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.015em;
  }


  .feedback__email,
  .feedback__text {

    width: 100% !important;
    height: 43px;
    border: 1px solid #6F6F6F;
    box-sizing: border-box;
    border-radius: 0%;
  }

  .inputs__class {
    padding-bottom: 0% !important;
  }

  .textarea__class {
    padding-bottom: 0% !important;
  }

  textarea {
    width: 100% !important;
    height: 136px !important;
    border-radius: 0% !important;
  }

  .feedback__button {
    width: 100%;
    height: 51px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.015em;
    border-radius: 0%;
  }

  /* END OF FEEDBACK SECTION STYLES */

  /* START OF MAPS SECTION STYLES */

  .google__maps {
    position: relative;
    height: 208px !important;
    overflow-x: hidden;
    padding: 0% !important;
  }

  .google__maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 208px !important;
    padding: 0% !important;
  }

  /* END OF MAPS SECTION STYLES */

}

/* END OF MEDIA QUERIES */