header {
    background: #0D0D0D;
    padding: 0 8.75rem;
}

header .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-light .navbar-toggler {
    color: #FFFFFF;
    border: none;
}

header nav ul li a {
    text-transform: uppercase;
    color: #FFFFFF !important;
}

.header .navbar {
    padding: 0.5rem 0;
}

header .dropdown-menu {
    background: #000000 !important;
    z-index: 3;
}

header .dropdown-menu a {
    background: #000000 !important;
    color: #FFFFFF !important;
}

header .dropdown-toggle::after {
    display: none;
}

@media (max-width: 576px) {
    header {
        padding: 0 1.75rem;
    }
    header img {
        width: 50vw;
    }
}