header nav ul li a {
    text-transform: uppercase;
}

header{
    background: #0d0d0d;
    opacity: 0.95;
}


.header .navbar {
    padding: 0.5rem 0;
}

.header .nav-link{
      color: #ffffff !important;
 }


header .dropdown-menu {
    background: #000000 !important;
}

header .dropdown-menu a {
    background: #000000 !important;
    color: #FFFFFF !important;
}

header .dropdown-toggle::after {
    display: none;
}